<p id="notice"><%= notice %></p>

<h2><%= @gym.name %></h2>
<h4><%= @gym.owner %></h4>
<h4><%= link_to @gym.website, "http://#{@gym.website}", target: "_blank" %></h4>

<%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "http://#{@gym.fb_page}", target: "_blank"%>
<%= link_to '<i class="fa fa-twitter"></i>'.html_safe, "http://#{@gym.tw_page}", target: "_blank"%>
<%= link_to '<i class="fa fa-instagram"></i>'.html_safe, "http://#{@gym.ins_page}", target: "_blank"%>
