<p id="notice"><%= notice %></p>

<h2><%= @gym.name %></h2>
<h4><%= @gym.owner %></h4>
<h4><%= @gym.website %></h4>
<h4><%= @gym.fb_page %></h4>
<h4><%= @gym.tw_page %></h4>
<h4><%= @gym.ins_page %></h4>
