<!DOCTYPE html>
<html>
<head>
  <title>Fitrank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/menu' %>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="container">
    <%= yield %>

    <div class="row footer">
      <h5>@2016 FitRank. All rights reserved.</h5>
      <h6>Created by <a href="https://github.com/RadoszSzymon" target="_blank">Radosz Szymon</a></h6>
    </div>
  </div>

</body>
</html>
